body{
  background-color:#dbdbdb;
}
.column {
  float: left;
}

.left {
  width: 75%;
}

.right {
  width: 25%;
}
#quote{
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  text-align: center;

}

#quote2{
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  text-align: center;
  color: #1f4068;

}
#header {
    width: 950px;
    height: 550px;
    background-image: url(http://www.hdwallpapers.in/walls/steve_jobs-wide.jpg);
    background-size:cover;
    margin-left: auto;
    margin-right: auto;
}
#second-image{
  width: 250px;
  height:250px;
}
#tablea{
padding: 20px;

}
th {
  background-color:#f0a500;
  height: 50px;
}
tr{
  height: 50px;
}
tr:nth-child(even) {background-color: #f0a500;}

a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}
#abc{
  text-align: center;
  font-style: italic;
  font-family: cursive;
  color:#1f4068;
}
